.navbar-brand {
  padding: 5px;
}


/* Hero background image */
.bgimage {
  height: 100vh;
  background: url(imagens/banner.png);
  background-size: cover;
  position: relative;
}

/* Hero text styles */
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Sobre section image css */
.imageAboutPage {
  width: 100%;
  border-radius: 5%;
}

/* Services section text css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon {
  color: #008000;
}

.servicesTex:hover {
  border: "1px solid #008000";
}

/* display background color bloack on navbarscroll */
.navbarScroll.navbarDark {
  background-color: black;
}

body {
  background-color: #c0c0c0;
  overflow-x: hidden; /* CORREÇÃO: Removido */
}


#contratar {
  background-color: gray;
  border: gray;
}

#services a:hover {
  background-color: #202020;
}

.navbar {
  background: #202020;
}

.navbar a {
  color: white;
  border-radius: 10%
}

.navbar a:hover {
  color: #232324;
  background-color: white;
  border-radius: 10%;
}


section {
  min-height: 8 0vh;
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0px);
  transform: translateX(0%);
}

#navbar {
  min-height: 0px;
}

.card :nth-child(2) {
  transition-delay: 700ms;
}

.card :nth-child(3) {
  transition-delay: 1400ms;
}

.footer-text {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.navbar-toggler .fa-bars {
  color: white; 
  font-size: 1.5rem; 
}


.navbar-toggler:focus {
  box-shadow: none;
}


.navbar-toggler {
  border: none;
}